.container {
    width:640px;
    margin:auto;
    margin-top:60px;
    background:white;
    color:rgb(34, 22, 22);
    display:flex;
    flex-direction: column;
    gap:20px;
    border-radius: 10px;
    padding:40px 50px;
}
.container hr{
    height:2px;
    border:none;
    background:#707070;
}
.container h2{
    font-size:25px;
    font-weight:700;
}
.container ul li{
    display:flex;
    align-items:center;
    height:60px;
    padding-left:15px;
    border:1px solid rgb(70, 56, 56);
    border-radius: 8px;
    margin-bottom:20px;
    font-size:20px;
    cursor:pointer;
}
.container button {
    margin:auto;
    width:250px;
    height:65px;
    background: rgb(218, 13, 23);
    color:white;
    font-size:25px;
    font-weight:bold;
    border-radius:8px;
    border:none;
    cursor:pointer;
}
.container button:active {
    box-shadow:5px 5px 10px lightcoral;
}
.container .index{
    margin:auto;
    font-size:25px;
    margin-top:20px;
    
}
.container .correct{
    background: #dffff2;
    border-color:#00d397;
}
.container .wrong{
    background:#FFEBEB;
    border-color:#FF4A4A;
}
.container .header {
    display:flex;
    justify-content:space-between;
}
.auth-container {
    width:640px;
    margin:auto;
    margin-top:200px;
    background:white;
    color:rgb(34, 22, 22);
    display:flex;
    flex-direction: column;
    gap:20px;
    border-radius: 20px;
    padding:40px 50px;
}
.auth-container input{
    padding:15px;
    font-size:20px;
}
.auth-container button {
    padding:15px;
    font-size:20px;
    background: rgb(230, 173, 182);
}